# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Rack
/build
/dist
/plugin.so
/plugin.dylib
/plugin.dll
.DS_Store

# if you want to work on some code but not commit it to the repo yet, add a .wip extension to the
# filename, you can override the syntax in VSC so that it still highlights the same
*.wip
